<!DOCTYPE html>

<html>

<head>

<title>Pantalla Sorteo</title>

<style>

body{
background:black;
color:white;
font-family:Arial;
text-align:center;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

h1{
font-size:80px;
margin-bottom:40px;
}

#ganador{
font-size:120px;
color:gold;
font-weight:bold;
}

#hora{
margin-top:40px;
font-size:40px;
color:#ccc;
}

</style>

</head>

<body>

<h1>🎰 SORTEO SAFARI 🎰</h1>

<div id="ganador">
Esperando ganador...
</div>

<div id="hora"></div>

<script>

let ultimo = ""

async function verificarGanador(){

try{

let res = await fetch("/ultimo-ganador")
let data = await res.json()

if(data.numero){

let texto = "🏆 GANADOR: " + data.numero + " - " + data.nombre

if(texto !== ultimo){

ultimo = texto

document.getElementById("ganador").innerText = texto

}

}

}catch(e){}

}

function reloj(){

let ahora = new Date()

document.getElementById("hora").innerText =
ahora.toLocaleTimeString()

}

setInterval(verificarGanador,4000)

setInterval(reloj,1000)

verificarGanador()
reloj()

</script>

</body>

</html>
