<!DOCTYPE html>
<html>

<head>

<title>Sorteo Safari</title>

<script src="https://cdn.jsdelivr.net/npm/winwheel@2.8.0/Winwheel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/Tween.min.js"></script>

<!-- CONFETTI -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<style>

body{
background:#0a0a0a;
color:white;
font-family:Arial;
text-align:center;
}

h1{
margin-top:20px;
}

canvas{
margin-top:30px;
background:white;
border-radius:50%;
}

/* FLECHA */

#flecha{
font-size:50px;
color:red;
}

button{
margin-top:30px;
padding:15px 40px;
font-size:22px;
border:none;
border-radius:10px;
background:gold;
cursor:pointer;
font-weight:bold;
}

#ganador{
font-size:45px;
margin-top:30px;
color:gold;
font-weight:bold;
}

</style>

</head>

<body>

<h1>🎰 SORTEO SAFARI 🎰</h1>

<div id="flecha">▼</div>

<canvas id="ruleta" width="500" height="500"></canvas>

<br>

<button onclick="girar()">Girar</button>

<div id="ganador">
Esperando ganador...
</div>

<!-- SONIDO -->
<audio id="sonidoRuleta" src="https://assets.mixkit.co/active_storage/sfx/2003/2003-preview.mp3"></audio>

<script>

let rueda

fetch("/estado")
.then(res=>res.json())
.then(data=>{

let jugadores = Object.entries(data)

if(jugadores.length === 0){

document.getElementById("ganador").innerText =
"No hay participantes aún"

return

}

let segmentos = []

let colores = [
"#ff0000","#ff9900","#ffff00","#00ff00",
"#00ffff","#0066ff","#9900ff","#ff00ff"
]

jugadores.forEach(([numero,nombre],i)=>{

segmentos.push({
text: numero + " - " + nombre,
fillStyle: colores[i % colores.length]
})

})

rueda = new Winwheel({

canvasId:'ruleta',

numSegments:segmentos.length,

outerRadius:230,

textFontSize:16,

segments:segmentos,

animation:{
type:'spinToStop',
duration:6,
spins:10,
callbackFinished:mostrarGanador
}

})

})


function girar(){

if(!rueda){
alert("No hay jugadores aún")
return
}

document.getElementById("ganador").innerText="Girando..."

document.getElementById("sonidoRuleta").play()

rueda.startAnimation()

}


function mostrarGanador(segmento){

document.getElementById("ganador").innerText =
"🏆 GANADOR: " + segmento.text

confetti({
particleCount:200,
spread:120
})

}

</script>

</body>
</html>