<!DOCTYPE html>
<html>

<head>

<title>Test Ruleta</title>

<script src="https://cdn.jsdelivr.net/npm/winwheel@2.8.0/Winwheel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>

</head>

<body>

<h1>Ruleta Test</h1>

<canvas id="ruleta" width="500" height="500"></canvas>

<button onclick="girar()">Girar</button>

<script>

let rueda

async function iniciar(){

let res = await fetch("/estado")
let data = await res.json()

console.log(data)

let jugadores = Object.entries(data)

let segmentos = jugadores.map(([n,nombre]) => ({
text: n + " - " + nombre
}))

rueda = new Winwheel({
canvasId:"ruleta",
numSegments:segmentos.length,
segments:segmentos,
animation:{
type:"spinToStop",
duration:5,
spins:6
}
})

rueda.draw()

}

function girar(){

rueda.startAnimation()

}

iniciar()

</script>

</body>
</html>